---
layout: page
permalink: /tags/
title: Categories
---

<div class="posts-by-tag">
    {% for category in site.categories %}
    {% capture tag_name %}{{ category | first }}{% endcapture %}
    <div class="tag-post-list">
        <h3 class="tag-header">{{ tag_name | capitalize }}</h3>
        {% for post in site.categories[tag_name] %}
        <div class="tag-post-title">
            <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>